@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&display=swap');

*{
	margin:0px;
	padding: 0px;
}
html, body {font-family: "Roboto", sans-serif; color: #50658e; font-size: 16px; line-height: 1.6; font-weight: 300; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; position: relative; }

body.noscroll { overflow: hidden; }
body{
	background-color: #fff0f4;
}
.nav-link{
	color:#ff4d7d !important;
	font-weight: 700 !important;
	font-size:0.8rem;
}
.active{
	color: #f71a56 !important;
}
.container{
	padding-top: 2%;
	padding-bottom: 2%;
	margin-top:2%;
	margin-bottom:2%;
}

.inpdes{
  text-decoration: none;
  color: #f71a56;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #f71a56;
  border-radius: 5px;
  padding-left: 20px;
  padding: 10px; 
  height: 45px;
  font-weight: 600;
}

.btn {
    letter-spacing: 2.5px;
    color: #f81451;
    background-color: #ffd4df;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 2%;
}

.btn:hover {
    background-color: #f71a56;
    box-shadow: 0px 5px 10px rgba(68, 174, 255, 0.6); 
    color: #fff;
    margin-top: 2%;
    transform: translateY(-7px);
}

.alter-btn {
    color: #f71a56;
    background-color: transparent;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin-top: 2%;
}

.alter-btn:hover {
    background-color: #f71a56;
    box-shadow: 0px 5px 10px rgba(68, 174, 255, 0.6); 
    color: #fff;
    transform: translateY(-7px);
    margin-top: 2%;
}
.donate-btn {
    color: #238c1d;
    background-color: transparent;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin-top: 2%;
}

.donate-btn:hover {
    background-color: #238c1d;
    box-shadow: 0px 5px 10px rgba(68, 174, 255, 0.6); 
    color: #fff;
    transform: translateY(-7px);
    margin-top: 2%;
}
.hero-text{
	font-weight: 900;
	font-size: 2.7rem;
	color: #f71a56;
  padding: 2%;
  /* text-shadow: 2px 4px 10px rgba(252, 144, 175,0.7); */
  /* text-shadow: 0px 2px 8px rgba(0,0,0,0.35); */
  text-shadow: 0px 1px 5px rgba(191, 191, 191, 0.4);
}

hr{
	width: 25%;
	background-color: red;
	margin: 0 auto;
}

a { outline: 0 none; transition: all 0.5s; }
a:link, a:visited { text-decoration: none; }
a:hover, a:focus, a:active { outline: 0; }

.card-header{
	background-color: transparent !important;
	border-bottom: solid 1px 25%;
  color: #ff2161;
  outline:none;
  border:none;

}
.card-footer{
  background-color: transparent !important;
  outline:none;
  border:none;
}
.card{
	box-shadow: 2px 5px 17px rgba(252, 144, 175,0.7);
	min-height: 98%;
	max-height: 98%; 
	overflow: hidden;
	margin-bottom: 15%;
}


/** 05.10 WGS */
.wgs-title { font-size: 0.875rem; letter-spacing: 0.075em; text-transform: uppercase; margin-bottom: 0.875rem; color: #50658e; }
.tc-light .wgs-title { color: #fff; }
.wgs-links li:not(:last-child) { margin-bottom: 0.5rem; }
.wgs-links li a { font-size: 0.875rem; line-height: 1.25rem; color: #50658e; }
.wgs-links li a:hover { color: #2a81ea; }
.tc-light .wgs-links li a { color: #b2bfe0; }
.tc-light .wgs-links li a:hover { color: #2a81ea; }
.wgs-about-text:not(:first-child) { padding-top: 1.125rem; }
.wgs-about-text:not(:last-child) { padding-bottom: 0.675rem; }
.wgs-about p { font-size: 12px; line-height: 1.67; margin-bottom: 0.5rem; color: #50658e; }
.tc-light .wgs-about p { color: #b2bfe0; }
.wgs-social { display: flex; align-items: center; margin: -5px; }
.wgs-social li { padding: 5px; }
.wgs-social li a { display: inline-flex; align-items: center; justify-content: center; border-radius: 50%; height: 30px; width: 30px; background: #50658e; color: #fff; }
.wgs-social li a:hover { background: #2a81ea; }
.wgs-card { border: 1px solid #e7e8ff; border-radius: 4px; background: #fff; box-shadow: 0px 5px 40px 0px rgba(80, 101, 142, 0.08); }
.wgs-head { border-bottom: 1px solid #e7e8ff; padding: 1.25rem 1.25rem; }
.wgs-head h4, .wgs-head h5, .wgs-head h6 { margin-bottom: 0; }
.wgs-list li:not(:last-child) { border-bottom: 1px solid #e7e8ff; }
.wgs-list li a { display: flex; font-size: 1rem; line-height: 1.5rem; padding: 1.125rem 1.25rem; color: #2a81ea; }
.wgs-list li a:after { margin-left: auto; font-family: "Nioicon"; content: "→"; }

@media (min-width: 576px) { .wgs-head { padding: 1.25rem 1.875rem; }
  .wgs-list li a { padding: 1.125rem 1.875rem; } }
@media (min-width: 992px) and (max-width: 1199px) { .wgs-head { padding: 1.25rem 1.5rem; }
  .wgs-list li a { padding: 1.125rem 1.5rem; } }
@media (min-width: 767px) { .wgs-head { padding: 1.25rem 1.5rem; }
  .wgs-list li a { padding: 1.125rem 1.5rem; } }


 strong{
 	font-weight: 900;
 }

.list-check { margin-top: -0.5em; margin-bottom: -0.5em; }
.list-check li { position: relative; padding: .5rem 0 .5rem 1.875rem; font-size: 1rem; line-height: 1.5; }
.list-check li:before { position: absolute; top: .375rem; left: 0; font-family: "Nioicon"; content: "֍"; font-size: 1.25rem; line-height: 1.5rem; color: #3dca93; }
.list-check li a { color: #2a81ea; box-shadow: 0 1px 0 0 #2a81ea; }

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

#loader{
  position:fixed;
  width: 100%;
  height: 100vh;
  z-index: 999999;
  background: rgba(0,0,0,0.9) url("loading.107263697587.gif") no-repeat center center;
}

svg {
  width:  auto;
  height: auto;
}
svg>path{
  transition: all 0.5s ease 0.11s;
  fill: rgba(247, 26, 86,0.89);
}
svg>path:hover{
  transform: translateY(-1.5px);
  fill: #333;
}
.container{
  transition: all 0.9s ease 0.15s;
}
strong{
  color: #f71a56;
}

/* AUTOCOMPLETE BOX */
.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: lightblue !important; 
  color: #ffffff; 
}

th{
  color: #ff2161;
}

/* QUIZ CSS */
.quiz ul{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.quiz ul li{
  color: #ff0045;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
}

.quiz ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.quiz ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.05em;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.quiz ul li:hover label{
  color: #f71a56;
}

.quiz ul li .check{
  display: block;
  position: absolute;
  border: 5px solid #333;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

.quiz ul li:hover .check {
  border: 5px solid #f71a56;
}

.quiz ul li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
  left: 5px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 5px solid #0DFF92;
}

input[type=radio]:checked ~ .check::before{
  background: #0DFF92;
}

input[type=radio]:checked ~ label{
  color: #0DFF92;
}
.bgsuccess{
  box-shadow: 1px 2px 15px rgba(18, 97, 2,0.9);
}
.bgfail{
  box-shadow: 1px 2px 15px rgba(191, 0, 0,0.9);
}

@media(max-width: 530px){
  .des{
    display: none;
  }
  .org{
    display: none;
  }
}

/* CHAT WINDOW CSS */
/* html, body {
  background-color: cornsilk;      
  height:100%;  
} */
#center-text {          
  display: flex;
  flex: 1;
  flex-direction:column; 
  justify-content: center;
  align-items: center;  
  height:100%;
  
}
#chat-circle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #f71a56;
  width: 70px;
  height: 70px;  
  padding-top:15px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.6), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.btn#my-btn {
    background: white;
    padding-top: 13px;
    padding-bottom: 12px;
    border-radius: 45px;
    padding-right: 40px;
    padding-left: 40px;
    color: #5865C3;
}
#chat-overlay {
    background: rgba(255,255,255,0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: none;
}


.chat-box {
  display:none;
  background: #efefef;
  position:fixed;
  right:30px;
  bottom:50px;  
  width:350px;
  max-width: 85vw;
  max-height:100vh;
  border-radius:5px;  
/*   box-shadow: 0px 5px 35px 9px #464a92; */
  box-shadow: 0px 5px 35px 9px #ccc;
}
.chat-box-toggle {
  float:right;
  margin-right:10px;
  cursor:pointer;
}
.chat-box-header {
  background:#f71a56;
  height:50px;
  border-top-left-radius:5px;
  border-top-right-radius:5px; 
  color:white;
  font-size:20px;
  padding-top:5px;
  padding-left: 5px;
}
.chat-box-body {
  position: relative;  
  height:370px;  
  height:auto;
  border:1px solid #ccc;  
  overflow: hidden;
}
.chat-box-body:after {
  content: "";
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height:100%;
  position: absolute;
  z-index: -1;   
}
#chat-input {
  background: #f4f7f9;
  width:100%; 
  position:relative;
  height:47px;  
  padding-top:10px;
  padding-right:50px;
  padding-bottom:10px;
  padding-left:15px;
  border:none;
  resize:none;
  outline:none;
  border:1px solid #ccc;
  color:#888;
  border-top:none;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  overflow:hidden;  
}
.chat-input > form {
    margin-bottom: 0;
}
#chat-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
#chat-input::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
#chat-input:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
#chat-input:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}
.chat-submit {  
  position:absolute;
  right:10px;
  background: transparent;
  box-shadow:none;
  border:none;
  border-radius:50%;
  color:#f71a56;
  width:45px;
  height:45px;  
}
.chat-logs {
  padding:15px; 
  height:370px;
  overflow-y:scroll;
}

.chat-logs::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.chat-logs::-webkit-scrollbar
{
	width: 5px;  
	background-color: #F5F5F5;
}

.chat-logs::-webkit-scrollbar-thumb
{
	background-color: #5A5EB9;
}



@media only screen and (max-width: 500px) {
   .chat-logs {
        height:40vh;
    }
}

.chat-msg.user > .msg-avatar img {
  width:45px;
  height:45px;
  border-radius:50%;
  float:left;
  width:15%;
}
.chat-msg.self > .msg-avatar img {
  width:45px;
  height:45px;
  border-radius:50%;
  float:right;
  width:15%;
}
.cm-msg-text {
  background:white;
  padding:10px 15px 10px 15px;  
  color:#666;
  max-width:75%;
  float:left;
  margin-left:10px; 
  position:relative;
  margin-bottom:20px;
  border-radius:30px;
}
.chat-msg {
  clear:both;    
}
.chat-msg.self > .cm-msg-text {  
  float:right;
  margin-right:10px;
  background: #f71a56;
  color:white;
}
.cm-msg-button>ul>li {
  list-style:none;
  float:left;
  width:50%;
}
.cm-msg-button {
    clear: both;
    margin-bottom: 70px;
}