{% load static %}
<footer class="nk-footer bg-dark tc-light has-overlay">
    <section class="section section-footer section-m tc-light">
        <div class="container-fluid pt-5">
            <div class="nk-footer-top">
                <div class="row g-gs gy-m">
                    <div class="col-lg-3 col-md-9 mr-auto">
                        <div class="wgs wgs-about">
                            <div class="wgs-logo logo">
                                <a href="homepage" class="logo-link">
                                    <img width=150 src="{% static 'images/logo/horilogo.png' %}" srcset="{% static 'images/logo/horilogo.png' %}"
                                        alt="logo">
                                </a>
                            </div>
                            <div class="wgs-about-text">
                                <p>This website is for health information and advice about coronavirus (COVID-19), how
                                    to prevent and protect yourself from disease.</p>
                                <p>Learn about the government response to coronavirus on GOV.UK.</p>
                            </div>
                            <ul class="wgs-social" type="none">

                                <li><a class="fb-ic" title="Share via Facebook"
                                        onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcovidinfomatrics.netlify.com&t=COVID-19 Infomatrics','newwindow', 'width=600', 'height=300'); return false;">
                                        <i class="fab fa-facebook-f fa-lg text-white fa-2x"></i>
                                    </a></li>
                                <!-- Twitter -->
                                <li><a class="tw-ic" title="Share via Twitter"
                                        onclick="window.open('https://twitter.com/intent/tweet?text=#COVID','newwindow', 'width=600', 'height=300'); return false;">
                                        <i class="fab fa-twitter fa-lg text-white fa-2x"></i>
                                    </a></li>
                                <!-- WHO -->
                                <li><a title="Visit WHO"
                                        href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019"
                                        class="gplus-ic">
                                        <i class="fas fa-globe fa-lg text-white fa-2x"></i>
                                    </a></li>
                                <!-- WHO -->
                                <li style="padding-top:20px"><a title="Visit Indian COVID-19 Dashboard"
                                        href="https://www.covid19india.org/" class="gplus-ic">
                                        <img src="{% static 'images/favicon.ico' %}" alt="icon">
                                    </a></li>
                                <!-- Whatsapp -->
                                <li><a class="li-ic" title="Share via Whatsapp"
                                        onclick="window.open('https://wa.me/?text=COVID-19 : Know More Here: https://covidinfomatrics.netlify.com','newwindow', 'width=600', 'height=300'); return false;">
                                        <i class="fab fa-whatsapp fa-lg text-white fa-2x"></i>
                                    </a></li>
                            </ul>
                        </div><!-- .wgs -->
                    </div><!-- .col -->
                    <div class="col-sm-4 col-lg-2">
                        <div class="wgs wgs-menu">
                            <h6 class="wgs-title">Quick Link</h6>
                            <ul class="wgs-links">
                                <li><a href="https://www.who.int/health-topics/coronavirus#tab=tab_3">Symptoms</a></li>
                                <li><a href="https://www.who.int/health-topics/coronavirus#tab=tab_2">Prevention</a>
                                </li>
                                <li><a
                                        href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public">Protect
                                        Youself</a></li>
                                <li><a
                                        href="https://www.who.int/csr/disease/coronavirus_infections/faq_dec12/en/">FAQs</a>
                                </li>
                                <li><a href="https://www.who.int/health-topics/coronavirus#tab=tab_1">About Corona</a>
                                </li>
                            </ul>
                        </div><!-- .wgs -->
                    </div><!-- .col -->
                    <div class="col-sm-4 col-lg-3">
                        <div class="wgs wgs-menu">
                            <h6 class="wgs-title">Helpful links</h6>
                            <ul class="wgs-links">
                                <li><a
                                        href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/training/online-training">Online
                                        Training For COVID-19</a></li>
                                <li><a href="https://www.who.int/news-room/q-a-detail/q-a-coronaviruses">Q'n'A</a></li>
                                <li><a href="https://www.bing.com/covid">COVID Tracker</a></li>
                            </ul>
                        </div><!-- .wgs -->
                    </div><!-- .col -->
                    <div class="col-sm-4 col-lg-2">
                        <div class="wgs wgs-menu">
                            <h6 class="wgs-title">Important Link</h6>
                            <ul class="wgs-links">
                                <li><a href="https://www.mygov.in/covid-19">IN GOV Website</a></li>
                                <li><a href="https://www.who.int/health-topics/coronavirus">WHO Website</a></li>
                                <li><a href="https://www.cdc.gov/coronavirus/2019-nchomepage.html">CDC Website</a></li>
                                <li><a href="https://www.nhs.uk/conditions/coronavirus-covid-19/">NHS Website</a></li>
                                <li><a
                                        href="https://www.health.harvard.edu/diseases-and-conditions/coronavirus-resource-center">Harvard
                                        Health</a></li>
                            </ul>
                        </div><!-- .wgs -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .nk-footer-top -->
            <br>
            <div class="nk-footer-bottom text-center">
                <p class="nk-copyright">Made by<br><a class="text-white" href="https://www.linkedin.com/in/abhishek-i-4ba8968a">Abhishek Iyengar</a>.</p>
                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <div class="nk-dislaimer">
                            <p>DISCLAIMER: I hope you find the information presented on this website useful. This
                                website is for general information and raise awareness of (2019-nCoV) only. <br class="d-none d-lg-block">
                                All the information based on WHO, NHS and CDC website and is heavily reliant on APIs for data. The information might not always be 100% accurate. All information on this website is only
                                meant to spread awareness and information. Please support the cause by sharing the website! <i class="fas fa-smile"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div><!-- .nk-footer-bottom -->
        </div><!-- .container -->
    </section><!-- .section -->
</footer>