<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A NON-OFFICIAL Infomatrics website for COVID-19 outbreak.">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'images/logo/horilogo.png' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
	<link rel="shortcut icon" type="image/png" href="{% static 'images/logo/icon.png' %}"/>
	<link rel="stylesheet" href="{% static 'hover-min.css' %}">
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<style type="text/css">
		@media (max-width: 530px){
		  .des{
		    display: none;
		  }
		  .org{
		    display: none;
		  }

		}
	</style>
	{% if title %}
		<title>{{ title }}</title>
	{% else %}
		<title>COVID-19 Informatrics</title>
	{% endif %}
	<script>
		var loader;
		function loadNow(opacity){
			if(opacity<=0){
				displayContent();
			}else{
				loader.style.opacity = opacity;
				window.setTimeout(function(){
					loadNow(opacity - 0.05)
				},100);
			}
		}
		function displayContent(){
			loader.style.display = 'none';
			document.getElementById('content').style.display = 'block';
		}
		document.addEventListener("DOMContentLoaded", function(){
			loader = document.getElementById('loader');
			loadNow(1);
		});
		
	</script>
  </head>
