<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" context="COVID-19 Informatrics">
    <meta property="og:description" content="Best place to view daily statistics, resoures, news and all general information!">
    <meta name="description" content="An UNOFFICIAL Infomatrics website for COVID-19 Pandemic. Best place to view daily statistics, get resoures, news and all general information!">
    <meta property="og:image" context="https://raw.githubusercontent.com/tinshade/COVID-Infomatrics/master/images/HomePage.jpg"/>
    <meta name="author" content="Abhishek Iyengar">
    <meta name="keywords" content="COVID-19, covid, 19, covid-19, resources,essentials,quiz,know about covid-19, information about covid-19, Infomatrics, anticovid, india, indian, wesbite for information, statistics, stats for covid-19, covid-19 statistics, covid-19 chatbot, chatbot, statewise numbers, statewise, countrywise, local,global, Pandemic, pandemic, abhishek, iyengar, patkar college, student, django, javascript, es6, js, bootstrap4, html5, secure,css3,original, official, interactive, informative, beautiful, responsive, all platforms,windows,android,ios,apple,mac,linux">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'images/logo/horilogo.png' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
	<link rel="shortcut icon" type="image/png" href="{% static 'images/logo/icon.png' %}"/>
	<link rel="stylesheet" href="{% static 'hover-min.css' %}">
	<link rel="stylesheet" href="{% static 'style.css' %}">
	{% if title %}
		<title>{{ title }}</title>
	{% else %}
		<title>COVID-19 Informatrics</title>
	{% endif %}
	<script>
		var loader;
		function loadNow(opacity){
			if(opacity<=0){
				displayContent();
			}else{
				loader.style.opacity = opacity;
				window.setTimeout(function(){
					loadNow(opacity - 0.05)
				},100);
			}
		}
		function displayContent(){
			loader.style.display = 'none';
			document.getElementById('content').style.display = 'block';
		}
		document.addEventListener("DOMContentLoaded", function(){
			loader = document.getElementById('loader');
			loadNow(1);
		});
		
	</script>
  </head>
