{% load static %}
<div id="loader"></div>
  	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="/"><img src="{% static 'images/logo/horilogo.png' %}" width=150 alt="COVID INFOMATRICS"></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav ml-auto mr-5 mt-1 ml-5 mb-2">
	      <li class="nav-item active">
	        <a class="hvr-grow nav-link" href="/" title="Spread Awareness!">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="hvr-grow nav-link" href="/#about" title="What is Novel COVID-19?">About Corona</a>
	      </li>
	      <li class="nav-item">
	        <a class="hvr-grow nav-link" href="/#symptoms" title="Feeling down? Analyze yourself!">Symptoms</a>
	      </li>
	      <li class="nav-item">
	        <a class="hvr-grow nav-link" href="/#prevention" title="Prevention is the only cure">Prevention</a>
	      </li>
	      <li class="nav-item">
	        <a class="hvr-grow nav-link" href="/#myths" title="Some well known myths about COVID-19">Myths</a>
		  </li>
		  <li class="nav-item">
	        <a class="hvr-grow nav-link" href="/essentials" title="Find all the essentials near you!">Essentials</a>
	      </li>
		  <li class="nav-item">
	        <a class="hvr-grow nav-link" href="/social" title="See what the social media says!">Social</a>
	      </li>
		  <li class="nav-item">
	        <a class="hvr-grow nav-link" href="/facts" title="Some factoids about COVID-19">Facts</a>
	      </li>
	      <li class="nav-item">
	        <a class="hvr-grow nav-link" href="https://t.co/enPvcqCTw2" target="_blank" title="Donate To PM Relief Fund!">Donate</a>
	      </li>
		</ul>
		<!-- WILL BE ADDED LATER -->
	    <!-- <form class="form-inline my-2 my-lg-0">
	      <input class="inpdes mr-sm-2" type="search" placeholder="Enter Country Name" aria-label="Search">
	      <button class="btn btn-outline-danger my-2 my-sm-0" title="View Country Statistics" type="submit"><i class="csn fas fa-search" style="color:#ff4d7d;"></i></button>
	    </form> -->
	  </div>
	</nav>