{% load static %}
{% include 'includes/header.html' %}
<body onload="getstates()">
{% include 'includes/navbar.html' %}
{% block content %}
<!-- RESOURCES SECTION -->
<section id="resources">
  <!-- BODY -->
  <div class="jumbotron jumbotron-fluid" style="background: url({% static 'images/resources.jpg' %}) no-repeat fixed bottom center/cover;">
    <div class="container text-center" style="background-color: rgba(255,255,255,0.5)">
      <h1 class="hero-text" style="text-shadow: 2px 2px 4px rgba(250, 7, 97,0.6);">FIND ESSENTIALS</h1>
    </div>
  </div>
  <div class="container bg-white text-center mt-4 mb-4 p-5 rounded" style="display: none; box-shadow: 0px 10px 15px rgba(0,0,0,0.3);" id="dd">
    <i class="fas fa-info-circle fa-5x hvr-pulse text-danger"></i>
    <article class="text-danger" style="font-size:1.2rem;">This platform is fully reliant on crowd-sourced data. We are not associated with any of the mentioned organisations is any way.
    <br> 
    On this note, the data below might be inaccurate and we urge you to have an open mind.
    </article>
  </div>
  <div class="container-fluid mt-5 mb-5">
  <!-- FLOAT BUTTON -->
  <a class="float-right" onclick="disclaimer()" title="VIEW DISCLAIMER"><i class="text-danger fas hvr-pulse fa-info-circle"></i></a>

      <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12">
          <label for="statenames">States</label>
          <select class="form-control" id="statenames" onchange="getcica()">
            <option value=""></option>
          </select>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12">
          <label for="citynames">Cities</label>
          <select class="form-control" onchange="getser()" id="citynames">
          </select>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12">
          <label for="categories">Services</label>
          <select class="form-control" id="categories">
          </select>
        </div>
      </div>      
      <div class="text-center">
        <button class="btn btn-primary" id="searchbtn" onclick="getall()">SEARCH</button>
      </div>      
      <div class="container-fluid" style="margin-top: 5%; margin-bottom: 5%;">
        <div class="container text-center" id="wait" style="display: none">
          <img src="{% static 'statgif.gif' %}">
          <h1 class="secondary-text" style="text-transform: uppercase;">Please wait while we fetch your results..</h1>
        </div>
        <table class="table" id="tabmain" style="display: none;">
          <thead>
            <tr>
              <th scope="col">City</th>
              <th scope="col">Category</th>
              <th scope="col">Organisation</th>
              <th scope="col">Description</th>
              <th scope="col">Phone</th>
            </tr>
          </thead>
          <tbody id="tabres">
          </tbody>
        </table>
      </div>
  </div>
  <!-- FOOTER SCRIPTS -->
  <script type="text/javascript" src="{% static 'knowledge.js' %}"></script>
</section>
{% endblock %}
{% include 'includes/footer.html' %}
</body>
</html>