{% load static %}
{% include 'includes/header.html' %}
<body>
{% include 'includes/navbar.html' %}
{% block content %}
<!--QUIZ SECTION-->
    <section id="quiz" style="background: url({% static 'quizbg.svg' %}) no-repeat center/cover;">
      <!-- BODY -->
      <div class="jumbotron jumbotron-fluid" style="background: url({% static 'images/quizbg.jpg' %}) no-repeat fixed bottom center/cover;">
        <div class="container text-center" style="background-color: rgba(255,255,255,0.5)">
          <h1 class="hero-text">TEST YOUR COVID-19 AWARENESS</h1>
          <h4 class="secondary-text" style="text-shadow: 2px 2px 4px rgba(0,0,0,0.8);">Are you safe from fake news?</h4>
        </div>
	  </div>
	  <input style="display:none" autofocus>
      <div id="startscreen" class="container text-center p-5 mt-5 mb-5" style=" background-color: rgba(255,255,255,0.8); box-shadow: 1px 2px 10px rgba(0,0,0,0.8)">
        <h1 class="hero-text" style="margin-top: 7%;">Are you ready?</h1>
        <div class="row p-5">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <button class="btn donate-btn" onclick="getqs(); hideme();">YES, Let's go!</button>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <button class="btn alter-btn" onclick="gn()">NO, I need time!</button>
          </div>
        </div>
      </div>

	  <!-- GAME SCREEN -->
      <div class="container quiz p-5" id="gamescreen" style="display: none;  background-color: rgba(255,255,255,0.8) ; box-shadow: 1px 2px 10px rgba(0,0,0,0.8);">
      	<h3 id="question">LOADING YOUR QUESTION..</h3>
      	<div class="container p-2">
      		 <ul class="qm">
			  <li class="qm">
			    <input type="radio" onclick="checkans(this.value)" id="f-option" value="y" name="selector">
			    <label for="f-option">YES, I agree!</label>
			    <div class="check"></div>
			  </li>
			  
			  <li class="qm">
			    <input type="radio" onclick="checkans(this.value)" id="s-option" value="n" name="selector">
			    <label for="s-option">NO, that's not right!</label>
			    
			    <div class="check"><div class="inside"></div></div>
			  </li>
			</ul>
			<br>
			<div class="card text-center rounded p-4  mt-2 mb-2" id="detail" style="display: none">
				<h1 style="display: none" class="card-header text-success" id="success">YOU'RE RIGHT!</h1>
				<h1 style="display: none" class="card-header text-danger" id="failed">UH OH!</h1>
				<div class="card-body">
					<p id="answer" style="font-weight: 700" class="card-text">The vibration created by chanting would not even be sensed by something as small as a virus.</p>
				</div>
				<div class="card-footer mt-2 mb-2">
					<div class="row">
						<div class="col-sm-12 col-md-6 col-lg-6">
							<button class="btn donate-btn m-2" onclick="getqs()">NEXT</button>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-6">
							<button class="btn alter-btn m-2" onclick="gn()">QUIT</button>
						</div>
					</div>
				</div>
				
			</div>
      	</div>
	  </div>
	<!-- SUGGESTION FORM -->
	<div class="container bg-white text-center p-5" id="tellus" style="margin-bottom: 10%; display: none;">
		<h3>Got any more detailed questions we missed?</h3>
		<h2>LET US KNOW RIGHT AWAY!</h2>
		<br>
		<button class="btn alter-btn" onclick="togglesq()" id="chevron"><i class="fas fa-chevron-down"></i></button>
		<br>
	</div>
	<section id="sq" style="display: none;">
		<div class="container text-center" style="display: none; margin-bottom: 10%;" id="sendingquestion">
			<img src="{% static 'statgif.gif' %}">
			<h3>Please wait while we record your response..</h3>
		</div>
		<div class="container text-center bg-white rounded" style="box-shadow: 1px 2px 10px rgba(0,0,0,0.8); display:none; margin-bottom: 10%;" id="successquestion">
			<h1 class="hero-text">Thank you <i class="fas fa-heart" style="color:rgb(250, 7, 97)"></i></h1>
			<br>
			<h4>Your response has been recorded!</h4>
			<br>
		</div>
		<div class="container text-center bg-white rounded" style="box-shadow: 1px 2px 10px rgba(0,0,0,0.8); display:none; margin-bottom: 10%;" id="failedquestion">
			<h1 class="hero-text">Thank you <i class="fas fa-heart-broken" style="color:rgb(250, 7, 97)"></i></h1>
			<br>
			<h4>We encountered an error!</h4>
			<small class="text-muted">Try again later!</small>
			<br>
		</div>
		<div class="container col-md-10 col-lg-10 col-sm-12 p-3" style="display: block; margin-bottom: 10%;" id="sendingform">
			<label for="full_name">What's your name?</label>
			<input id="full_name" class="form-control" required autofocus placeholder="Enter your full name here....">
			<br>
			<label for="squestion">Framed question</label>
			<input id="squestion" class="form-control" required placeholder="Enter your question statement....">
			<br>
			<label for="sanswer">Y|N answer</label>
			<input id="sanswer" class="form-control" required placeholder="Answer in YES | NO">
			<br>
			<label for="sexplanation">Give us a brief explanation</label>
			<textarea class="form-control" required style="resize: none;" id="sexplanation" rows=7 maxlength="200" placeholder="Briefly explain your answer here.."></textarea>
			<div class="text-center container">
				<button class="btn donate-btn" id="sendbtn" onclick="qsend()">SEND<i class="fas fa-paper-plane"></i></button>
			</div>
		</div>
	</section>
      <!-- RESULTS SCREEN -->
      <div class="container p-3" id="results" style="display: none">
      	<div class="card text-center">
      		<h1 class="hero-text">YOUR SCORECARD</h1>
      		<br>
      		<hr style="margin:0 auto">
      		<br>
      		<div class="card-body p-5">
				<h1 class="primary-text">YOU SCORED <strong id="score"></strong><strong>/5</strong>!</h1>
				<br>
				<h4 class="text-primary"> Consider sharing this quiz with your loved ones to keep them aware! </h4>
      		</div>
      		<div class="card-footer">
  				<div class="container">
  					<h5>SHARE VIA SOCIAL MEDIA!</h5>
  					<br>
  					<hr style="margin:0 auto">
					<br>
					<br>
  					<div class="row">
  						<div class="col-sm-12 col-lg-4 col-md-4">
  							<a class="hvr-grow m-2" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fanticovid.herokuapp.com/quiz&t=TEST YOUR AWARENESS','newwindow', 'width=600', 'height=300'); return false;"><i style="color: #3b5998" class="fab fa-facebook fa-3x"></i></a>
  						</div>
  						<div class="col-sm-12 col-lg-4 col-md-4">
  							<a class="hvr-grow m-2"  title="Share via Twitter" onclick="window.open('https://twitter.com/intent/tweet?text=TEST YOUR COVID-19 AWARENESS HERE: https%3A%2F%2Fanticovid.herokuapp.com/quiz','newwindow', 'width=600', 'height=300'); return false;"><i style="color: #1da1f2" class="fab fa-twitter fa-3x"></i></a>
  						</div>
  						<div class="col-sm-12 col-lg-4 col-md-4">
  							<a class="hvr-grow m-2"title="Share via Whatsapp" onclick="window.open('https://wa.me/?text=TEST YOUR COVID-19 AWARENESS HERE: https://anticovid.herokuapp.com/quiz','newwindow', 'width=600', 'height=300'); return false;"><i style="color: #25D366" class="fab fa-whatsapp fa-3x"></i></a>
  						</div>
  					</div>
  				</div>
      			
      		</div>
      	</div>
      </div>
	</section>
    <!-- FOOTER SCRIPTS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/animateCSS/1.2.2/jquery.animatecss.min.js"></script>
    <script type="text/javascript" src="{% static 'quiz.js' %}"></script>
{% endblock %}
{% include 'includes/footer.html' %}
{% include 'talker/talker.html' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{%static 'zenscroll-min.js' %}"></script>
<script>
	function qsend(){
		var fn = $('#full_name').val()
		var q = $('#squestion').val()
		var a = $('#sanswer').val()
		var exp = $('#sexplanation').val()
		var tellus = $('#tellus').hide()
		var wait = $('#sendingquestion').show()
		$('#sendingform').show()
		$.ajax({
			type: "GET",
			url: 'mq',
			data:{fn:fn,q:q,a:a,exp:exp},
			success:function(reply){
				if(reply == "Done"){
					wait.hide()
					$('#sendingform').hide()
					$('#failedquestion').hide()
					$('#successquestion').show()
				}else{
					wait.hide()
					$('#sendingform').hide()
					$('#successquestion').hide()
					$('#failedquestion').show()
				}
			},
			error:function(xhr){
				wait.hide()
				$('#sendingform').hide()
				$('#successquestion').hide()
				$('#failedquestion').show()
			}
		})
	}
</script>
</body>
</html>