{% include "includes/header.html" %}
  <body onload="getstates()">
	{% include "includes/navbar.html" %}
	{% load static %}
  	<!-- BODY -->
    <div class="jumbotron jumbotron-fluid" style="background: url({% static 'images/zones.jpg' %}) no-repeat fixed bottom center/cover;">
    	<div class="container text-center" style="background-color: rgba(255,255,255,0.5)">
            <h1 class="hero-text display-1" style="text-shadow: 2px 2px 4px rgba(250, 7, 97,0.6);">KNOW YOUR ZONES</h1>
            <h3> See what zone you are in! </h3>
    	</div>
    </div>
    <!-- ZONES SECTION -->
	<section>
		<div class="container text-center">
			<div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <label for="statenames">States</label>
                    <select class="form-control" id="statenames" onchange="getcity()">
                    <option value=""></option>
                    </select>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <label for="citynames">Cities</label>
                    <select class="form-control" id="citynames">
                    </select>
                </div>
                <div class="text-center container mt-2 mb-1">
                    <button class="btn btn-primary" id="searchbtn" onclick="getzones()">SEARCH</button>
                </div>
            </div>      
              
		</div>

		<div class="container-fluid" style="margin-top: 5%; margin-bottom: 5%;">
			<div class="container text-center" id="wait" style="display: none">
			  <img src="{% static 'statgif.gif' %}">
			  <h1 class="secondary-text" style="text-transform: uppercase;">Please wait while we fetch your results..</h1>
			</div>
			<div class="container mb-5 text-center">
				<table class="table" id="tabmain" style="display: none;">
				  <thead>
				    <tr>
				      <th scope="col">State</th>
				      <th scope="col">District</th>
				      <th scope="col">Zone</th>
				      <th scope="col" class="source">Source</th>
				      <th scope="col" class="lup">Last Updated</th>
				      
				    </tr>
				  </thead>
				  <tbody id="tabres">
				  </tbody>
				</table>
			</div>
	    </div>
	</section>
	{% include "talker/talker.html" %}
	{% include "includes/footer.html" %}
	<script type="text/javascript">
		function getstates(){
		  var url = 'https://api.covid19india.org/zones.json';
		  var states = []
		  var statenames = document.getElementById('statenames')
		  fetch(url)
		  .then(function(response){
		    return response.json();
		  })
		  .then(function(myJson){
		    statenames.innerHTML = `<option value="ALL">All States</option>`
		    myJson.zones.forEach(myprinter);
		    function myprinter(item){
		      if(states.includes(item.state) == false){
		        states.push(item.state)
		      }
		    }
		    for(var i=0; i<states.length; i++){
		      statenames.innerHTML += `<option value="${states[i]}">${states[i]}</option>`
		    }
		  })
		}
		function getcity(){
		  var url = 'https://api.covid19india.org/zones.json';
		  var cities = []
		  var services = []
		  var statename = document.getElementById('statenames').value
		  var citiname = document.getElementById('citynames')
		  fetch(url)
		  .then(function(response) {
		      return response.json();
		    })
		    .then(function(myJson) {
		      citiname.innerHTML = `<option value="ALL">All Districts</option>`
		      myJson.zones.forEach(myprinter);
		      function myprinter(item){
		        if(item.state == statename){
		          if(cities.includes(item.district) == false){
		            cities.push(item.district)
		          }
		        }
		      }
		      for(var i = 0; i<=cities.length-1; i++){
		        citiname.innerHTML += `<option value="${cities[i]}">${cities[i]}</option>`  
		      }
		    })
		}
		function getzones(){
		  var url = 'https://api.covid19india.org/zones.json';
		  var statename = document.getElementById('statenames').value 
		  var citiname = document.getElementById('citynames').value
		  var wait = document.getElementById('wait')
		  var main = document.getElementById('tabmain')
		  wait.style.display = "block"
		  main.style.display = "none"
		  fetch(url)
		  .then(function(response) {
		      return response.json();
		    })
		    .then(function(myJson) {
		      document.getElementById('tabres').innerHTML = ``
		      myJson.zones.forEach(myprinter);
		      wait.style.display = "none"
		      main.style.display = "block"
		      var zone = ''
		      function myprinter(item){
		      	if(statename == "ALL"){
		      		if(item.zone == "Red"){
		      			zone = `<td style="font-weight:700;color: red">${item.zone}</td>`
		      		}
		      		else if(item.zone == "Orange"){
		      			zone = `<td style="font-weight:700;color: #FFA500">${item.zone}</td>`
		      		}
		      		else{
		      			zone = `<td style="font-weight:700;color: green">${item.zone}</td>`
		      		}
		      		tabres.innerHTML +=`<tr><td>${item.state}</td><td>${item.district}</td>${zone}<td class="source">${item.source}</td><td class="lup">${item.lastupdated}</td></tr>`
		      	}
		        if(item.state == statename && item.district == citiname){
		        	if(item.zone == "Red"){
		      			zone = `<td style="font-weight:700;color: red">${item.zone}</td>`
		      		}
		      		else if(item.zone == "Orange"){
		      			zone = `<td style="font-weight:700;color: #FFA500">${item.zone}</td>`
		      		}
		      		else{
		      			zone = `<td style="font-weight:700;color: green">${item.zone}</td>`
		      		}
		          	tabres.innerHTML +=`<tr><td>${item.state}</td><td>${item.district}</td>${zone}<td class="source">${item.source}</td><td class="lup">${item.lastupdated}</td></tr>`
		        }
		        if(citiname == "ALL"){
		        	if(item.state == statename){
		        		if(item.zone == "Red"){
			      			zone = `<td style="font-weight:700;color: red">${item.zone}</td>`
			      		}
			      		else if(item.zone == "Orange"){
			      			zone = `<td style="font-weight:700;color: #FFA500">${item.zone}</td>`
			      		}
			      		else{
			      			zone = `<td style="font-weight:700;color: green">${item.zone}</td>`
			      		}
		        		tabres.innerHTML +=`<tr><td>${item.state}</td><td>${item.district}</td>${zone}<td class="source">${item.source}</td><td class="lup">${item.lastupdated}</td></tr>`	
		        	}
		        }
		        
		      }
		    })
		}
	</script>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="{% static 'zenscroll-min.js' %}"></script>
  </body>
</html>