{% include "includes/header.html" %}
  <body onload="getstates()">
	{% include "includes/navbar.html" %}
	{% load static %}
  	<!-- BODY -->
    <div class="jumbotron jumbotron-fluid" style="background: url({% static 'images/zones.jpg' %}) no-repeat fixed bottom center/cover;">
    	<div class="container text-center" style="background-color: rgba(255,255,255,0.5)">
            <h1 class="hero-text display-1" style="text-shadow: 2px 2px 4px rgba(250, 7, 97,0.6);">KNOW YOUR ZONES</h1>
            <h3> See what zone you are in! </h3>
    	</div>
    </div>
    <!-- ZONES SECTION -->
	<section>
		<div class="container text-center">
			<div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <label for="statenames">States</label>
                    <select class="form-control" id="statenames" onchange="getcity()">
                    <option value=""></option>
                    </select>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <label for="citynames">Districts</label>
                    <select class="form-control" id="citynames">
                    </select>
                </div>
                <div class="text-center container mt-2 mb-1">
                    <button class="btn btn-primary" id="searchbtn" onclick="getzones()">SEARCH</button>
                </div>
            </div>      
              
		</div>

		<div class="container-fluid bg-white" style="margin-top: 1%; margin-bottom: 20%;">
			<div class="container text-center" id="wait" style="display: none">
			  <img src="{% static 'statgif.gif' %}">
			  <h1 class="secondary-text" style="text-transform: uppercase;">Please wait while we fetch your results..</h1>
			</div>
			<div class="container text-center">
				<table class="table table-bordered table-hover" id="tabmain" style="display: none;">
				  <thead>
				    <tr>
				      <th scope="col">State</th>
				      <th scope="col">District</th>
				      <th scope="col">Zone</th>
				      <th scope="col" class="source">Source</th>
				      <th scope="col" class="lup">Updated</th>
				      
				    </tr>
				  </thead>
				  <tbody id="tabres">
				  </tbody>
				</table>
			</div>
	    </div>
	</section>
	<script type="text/javascript" src="{% static 'zones.js' %}"></script>
	{% include "includes/footer.html" %}
	{% include "talker/talker.html" %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="{% static 'zenscroll-min.js' %}"></script>
  </body>
</html>